
body {

    background: rgb(146, 95, 95);
    



}

p{
    text-align: center;
    font-weight: bold;
}
h1, i,p {
    color: rgb(245, 220, 220);
}
table, th, td {
    color: rgb(245, 220, 220);
    border: 1px solid rgb(245, 220, 220);
    border-collapse: collapse;
    background-color: rgb(101, 72, 102);

}

th, td {

    padding: 12px 20px;


}

th:hover {

    background-color: aliceblue;
    color: black;

}

div {

    margin: 0 auto;
    max-width: 60%;
    padding: 10px;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(61, 42, 53);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.589);
}

img {

    max-width: 10%;
    height: auto;

    display: block;
    justify-content: center;
    align-items: center;
    margin: 10px auto 10px;

    border-radius: 10px;

}